*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#050505;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}

.container{
    text-align:center;
}

h1{
    font-size:60px;
    margin-bottom:20px;
}

h2{
    font-size:35px;
    color:#ff6b9d;
}

p{
    margin-top:25px;
    color:#bdbdbd;
    font-size:20px;
}
